# 동행복권 계정
LOTTERY_ID=yosodk
LOTTERY_PW=#Sorkdhkd1

# 텔레그램 봇 (https://t.me/BotFather 에서 발급)
TELEGRAM_BOT_TOKEN=8742677301:AAG6PF6mKio2bNJqr813XNPC_2UJtbwyB0c
TELEGRAM_CHAT_ID=6883085219

# 구매 수량 (1~5, 기본값 1)
PURCHASE_COUNT=1
